.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Walt Disney Script v4.1";
  font-style: normal;
  font-weight: normal;
  src: local("Walt Disney Script v4.1"),
    url("/src/Font/Walt_Disney_Script.ttf") format("truetype");
}

html *,
input,
h1,
h2,
h3 {
  font-family: "Satisfy", cursive;
}

h1 {
  margin-top: 0 !important;
}

.addition__container {
  height: 100vh;
}
